div{
    margin-top: 60px;
}
body{
    font-family: Arial, serif;
}
.lesson9f{
    width: 100%;
    height: 300px;
    border-style: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    margin: 16px;
}
.lesson9f-profile{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position:center;
}
.lesson9f-header{
    font-weight: bold;
    margin: 2px 6px 2px 6px;
}
.lesson9f-mutual{
    margin: 2px 6px 2px 6px;
    color: rgba(0, 0, 0, 0.49);
}
.lesson9f-add{
    background-color: #195afd;
    color: white;
    border-style: solid;
    border-color: #195afd;
    border-radius: 6px;
    width: 120px;
    height: 36px;
    margin-left: 6px;
    margin-top: 6px;
    cursor: pointer;
    font-weight: bold;
}
.lesson11d{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 20px;
    align-items: center;
}